/*---------------------------------
        AjaxWait
-----------------------------------*/
.ajaxLoader {
    background-color: #000;
    opacity: 0.7;
    filter: alpha(opacity=0);
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1999;
    cursor: progress;
}
.ajaxLoaderMessage {
    position: absolute;
    top: 40%;
    left: 0px;
    right: 0px;
    z-index: 2000;
    font-size: 24px;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    color: #000;
    cursor: wait;
}