/* general */
html {
    margin: 0;
    padding: 0;
    font-size: 19px;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
a:active,
a:hover {
    outline: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

#text-after {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.stars .material-icons {
    color: #ffc107;
    font-size: 26px;
    float: left;
}

nav {
    background-color: transparent;
    box-shadow: none;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #2196f3;
    font-size: 1rem;
}

[type="checkbox"] + label::before,
[type="checkbox"]:not(.filled-in) + label::after {
    border: 2px solid #2196f3;
}

[type="checkbox"]:checked + label::before {
    border-color: transparent #2196f3 #2196f3 transparent;
    height: 19px;
    left: -2px;
    top: -2px;
    width: 10px;
}


textarea:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important;
}

textarea:focus + label {
    color: #2196f3 !important;
}

[type="radio"]:checked + label::after,
.with-gap[type="radio"]:checked + label::before,
.with-gap[type="radio"]:checked + label::after {
    border: 2px solid #2196f3;
}

[type="radio"]:checked + label::after,
.with-gap[type="radio"]:checked + label::after {
    background-color: #2196f3;
}



/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: none;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #2196f3;
    box-shadow: none;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #2196f3;
    box-shadow: none;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3;
}

/* /general */

/* header */
#header {
    color: #fff;
    height: 122px;
    padding: 14px 1.5% 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

#logo-img {
    margin: 0 15px 0 0;
    float: left;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#logo-text {
    letter-spacing: 0.2rem;
    font-weight: bold;
    font-size: 1.875rem;
    text-transform: uppercase;
}

#header-right {
    float: left;
    margin: 0;
}

#header-right .row {
    margin: 0;
}

#top {
    height: 38px;
    text-align: right;
}

#top > div {
    display: inline-block;
}

.social {
    font-size: 0.875rem;
    color: #fff;
    opacity: 0.6;
}

.social .icon {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    margin: 0 10px;
    background: url('../img/icons.png') no-repeat 0 0;
}

.social .facebook {
    background-position: -21px 0;
}

.social .tripadvisor {
    width: 28px;
    padding: 10px 8px;
    background-position: -42px 0;
}

.social .ok {
    background-position: -92px 0;
}

.social .vk {
    background-position: -71px 0;
}

.social .label {
    margin: 0 5px 8px 0;
    float: left;
}

/* lang selector */
#lang {
    margin: -10px 10px 0 0;
    color: #fff;
}

#lang-switch a {
    color: #333;
}

#lang .lang {
    padding: 14px 0 14px 50px;
    text-transform: uppercase;
    position: relative;
}


#lang .dropdown-button {
    color: #fff;
    position: relative;
    opacity: 0.6;
    padding: 0 10px 0 50px;
}


#lang .dropdown-button i {
    position: relative;
    top: 6px;
}

#lang .lang:before {
    position: absolute;
    width: 29px;
    height: 22px;
    top: 14px;
    left: 10px;
    background: url(../img/icons.png) no-repeat 0 -21px;
    content: "";
    overflow: hidden;

}

#lang .dropdown-button.lang:before {
    width: 16px;
    height: 12px;
    background: url(../img/icons.png) no-repeat 0 -44px;
    left: 20px;
    top: 16px;
}

#lang .lang-rus:before {
    background-position: -30px -21px;
}

#lang .lang-eng:before {
    background-position: -60px -21px;
}

#lang .dropdown-button.lang-rus:before {
    background-position: -17px -44px;
}

#lang .dropdown-button.lang-eng:before {
    background-position: -34px -44px;
}

/* /lang selector */

.callback {
    font-size: 0.875rem;
    opacity: 0.6;
    color: #fff;
}

.callback i {
    font-size: 18px;
    line-height: 24px;
}

.callback button {
    border-bottom: 1px dashed #fff;
    color: #fff;
    font-size: 0.8rem;
    height: 1.2rem;
    line-height: 1.2rem;
    margin: -0.6rem 0 0;
    padding: 0;
    text-transform: none;
}

#callback {
    width: 350px;
    color: #000;
}

#callback .modal-header {
    height: 4rem;
    padding: 10px;
}

#callback h4 {
    font-size: 1.2rem;
    color: #333;
    margin: 0;
}


#callback .modal-content {
    padding: 10px;
}

#callback .button-close {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: none;
}

#callback .button-close .material-icons {
    color: #333;
}

#phone {
    text-align: right;
    padding: 0;
    float: right;
}

#phone-number {
    font-size: 1.775rem;
    font-weight: 700;
    line-height: 2rem;
}

#free-calls {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1rem;
}

#top-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#menu-main {
    margin: -10px 0 0 0;
    height: 55px;
    overflow: hidden;
    /*width: 1500px;*/
}

#menu-main > a {
    color: #fff;
    font-size: 14px;
    border-bottom: 2px solid  transparent;
    border-radius: 0;
    text-transform: uppercase;
    line-height: 24px;
    min-height: 36px;
    height: 36px;
    min-width: 40px;
    padding: 5px;
    margin: 0 2% 6px 0;
    font-weight: 300;

}

#menu-main a.active,
#menu-main a:hover {
    background: none;
    border-bottom: 2px solid #2196f3;
    border-radius: 0;
    text-decoration: none;
}

#menu-main a:last-child {
    margin: 0 0 6px 0;
}
/* /header */

.breadcrumb:before {
    display: none;
    content: "";
}

#breadcrumbs {
    margin: 35px 0 0;
}

#breadcrumbs li {
    font-size: 1.125rem;
    display: inline-block;
    margin: 0 5px 0 0;
}

#breadcrumbs li:after {
    content: ">";
}

#breadcrumbs li:last-child {
    font-weight: 700;
}

#breadcrumbs li:last-child:after {
    content: "";
}

#breadcrumbs li a {
    color: #97c3f3;
}

#main-wrapper {
    height: 100%;
    min-height: 100%;
    padding: 0 0 330px 0;
    box-sizing: border-box;
}

#main {
    background: url(../img/bg.png) repeat;
    position: relative;
}
/* carousel */

#carousel-wrapper {
    width: 100%;
    position: relative;
}

#carousel {
    height: 853px;
}

.banners {
    position: relative;
}

.banners .banners-item {
    height: 100%;
    margin: 0;
}

.banners .banners-item {
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 17% 1% 0;
    position: relative;
}

.banner-text {
    position: absolute;
    right: 17%;
    margin: 100px 0 0 0;
}

.banners .price {
    font-size: 1.25rem;
    font-weight: 700;
}

.banners .title {
    font-size: 3rem;
    font-weight: 700;
}

.banner-text > div {
    margin: 0 0 15px 0;
    color: #FFFFFF;
}

.banners .description {
    display: inline-block;
    width: 70%;
    text-align: right;
    font-weight: 300;
}

.banners .banners-item .type {
    color: #c00;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.banners .button-more {
    font-size: 0.875rem;
    margin: 0 0 10px 8px;
    padding: 6px 20px;
    font-weight: 700;
    height: 45px;
}

#button-skip {
    position: absolute;
    bottom: 1%;
    opacity: 0.6;
    left: 50%;
    width: 2rem;
    margin: 0 0 0 -1rem;
    z-index: 100;
}

#button-skip .material-icons {
    color: #fff;
    font-size: 3rem;
    width: 3rem;
    position: relative;
    left: 50%;
    height: 3rem;
    top: 50%;
    margin: 0 0 0 -1.5rem;
}
/* /carousel */

/* booking */

#booking {
    left: 17%;
    position: absolute;
    top: 20%;
    z-index: 50;
    width: 22%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #D2D1D0;
    border-radius: 5px;
}

#booking-hotel .dropdown-content {
    width: 300px;
}

.servio-search-form {
    background-color: #f7f7f7 !important;
}

#servioBookingContent {
    min-height: 300px;
}

/* /booking */

/* categories */

#categories,
#offers,
#text {
    padding: 1% 4.7%;
    width: 100%;
}

.row .category,
.offer {
    background-repeat: no-repeat;
    background-size: cover;
    height: 455px;
    border-radius: 3px;
    padding: 0;
}

.category {
    margin: 0 1% 0 0;
    width: 24% !important
}

.category:hover,
.offer:hover {
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.category > .wrapper,
.offer > .wrapper,
.offer-item > .wrapper {
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.category > .wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5% 7% 7% 5%;
}

.category > .wrapper:hover,
.offer > .wrapper:hover,
.offer .wrapper:hover > div,
.city-hotel .wrapper:hover,
#services-hotels .city-hotel .wrapper:hover {
    background-color: rgba(33, 150, 243, 0.9);
    cursor: pointer;
}

.category .category-icon {
    float: left;
    margin: 0 20px 0 0;
}

.category .title {
    margin: 0 0 15px 0;
}

.category .title {
    font-weight: 700;
    font-size: 1.9rem;
}

.category .title a {
    color: #fff;
    text-decoration: none;
    line-height: 70px;
}

.category .text {
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 15px 0 27px 0;
}

/* /categories */

/* offers */
.cont {
    padding: 20px 0;
}

.offer {
    color: #4c4c4c;
    float: left;
    font-weight: 700;
    margin: 0.5%;
    position: relative;
    width: 24%;
    max-width: 24% !important;
    height: 310px;
    border-radius: 5px;
}

.offer-item .wrapper,
.offer .wrapper {
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.offer-item .wrapper > span,
.offer .wrapper > div {
    height: 35%;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 5%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 0 5px 5px;
}

.offer .title,
.offer-item .title {
    margin: 5px 0 10px;
    text-transform: uppercase;
}

.offer .text,
.offer-item .text {
    bottom: 8%;
    font-size: 0.73rem;
    font-weight: 300;
    left: 5%;
    position: absolute;
    width: 90%;
    line-height: 0.8rem;
}

.button-see-all {
    margin: 70px auto 50px;
    padding: 3px 30px;
    height: 45px;
}

#offers-container h2 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: -10px 0 35px 0;
}

#offers-container h1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 15px 0;
}

#offers .row {
    margin: 10px 0.5%;
}

/* /offers */

/* hotels page */

#hotels-container h1 {
    margin: 25px 0 15px 0;
}

#hotels-container .button-see-all {
    font-size: 1.5rem;
    padding: 12px 32px;
    margin: 70px 0 0;
    height: 3.5rem;
}

.text-hotels {
    color: #000;
    padding: 1% 0 75px !important;
    line-height: 1.9rem;
    font-size: 1.125rem;
    background: none !important;
    border: none !important;
}

#city-hotels {
    width: 100%;
    padding: 0 3.125% 0 5.2%;
}

.city-hotel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28%;
    height: 100%;
    max-height: 547px;
    /*height: 590px;*/
    margin: 25px 2.5%;
    float: left;
    color: #fff;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.city-hotel .hotel-image{
    min-height: 345px;
    height: 345px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.city-hotel .wrapper {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 4% 7% 6% 5%;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}

.city-hotel a {
    color: #fff;
}

.city-hotel .name {
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0 0 14px 0;
}

.city-hotel .city {
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 6%;
    right: 7.5%;
}

/*#city-hotels #hotel0,
#city-hotels #hotel1 {
    height: 930px;
}*/

#city-hotels .hotel-descr {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vw;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    background: #cde7fc;
}

#city-hotels .hotel-descr p:last-child {
    margin: 0;
}

/*#city-hotels #hotel0 .hotel-image,
#city-hotels #hotel1 .hotel-image{
    height: 720px;
}*/

/*#city-hotels #hotel0 {
    width: 61%;
}*/

/*#city-hotels #hotel0 .city {
    font-size: 4.5rem;
}*/

#city-hotels .stars .material-icons {
    font-size: 30px;
}

/* /hotels page */

/* hotel page */

#page-hotel #header,
#page-contacts #header,
#page-gallery #header {
    background: #1a1a1a;
    height: 115px;
    position: relative;
    padding: 4px 1.5% 0 1%;
}

#page-hotel #logo {
    position: relative;
    top: -2px;
    height: 108px;
}

#page-hotel #breadcrumbs,
#page-hotel #main,
#page-hotel #conference-rooms {
    padding: 0 8.5% 0 8.5%;
}

#page-hotel #main {
    margin: 30px 0;
}

/*#page-hotel #tl-wrapper,
#page-hotel #description {
    border: 2px solid #2196f3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}*/

#page-hotel #tl-wrapper {
    margin-bottom: 15px;
}

#page-hotel #booking {
    position: relative;
    top: 0;
    left: 0;
    width: 27%;
    margin: 0 3% 0 0;
    border: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

@media (max-width: 1650px) {
    #page-hotel #booking {
        width: 100%;
        margin: 0;
    }
}

#description {
    width: 70%;
    padding: 20px 30px 20px 25px;
    color: #000;
    background: #fff;
    font-size: 1.2rem;
}

#description h1 {
    color: #1a1a1a;
    font-size: 1.5rem;
    margin: 0;
}

#description p {
    margin: 10px 0;
}

.features {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 35px 0;
}

.features .material-icons {
    color: #48a64c;
    float: left;
    margin: 0 5px 0 0;
    cursor: default;
}

#conf-room-features.features .material-icons {
    float: none;
}


#distances-title {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1a1a1a;
    margin: 0 0 60px;
    text-align: center;
}

.distance .title {
    color: #a9a9a9;
    font-size: 1.125rem;
    font-weight: 700;
}

.distance .value {
    /*color: #2196f3;*/
    font-size: 2.5rem;
    font-weight: 700;
}

#distances button {
    background: #2196f3;
    color: #fff;
    padding: 5px 60px;
}

#button-map > a {
    width: 90%;
    font-size: 1rem;
}

#distances.row .col {
    padding: 0 0.5rem 0 0;
}

.distances-list {
    text-align: center;
}

.distances-list #button-map {
    float: none;
    margin: 0 auto;
}

.distances-list .distance {
    position: relative;
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}

.distances-list .distance:before {
    content: '';
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: url('/theme/img/distance-icons.png') no-repeat;
}

.distances-list .distance-airport:before {
    width: 36px;
    height: 36px;
    background-position: -10px -10px;
}

.distances-list .distance-railway:before {
    width: 30px;
    height: 37px;
    background-position: -10px -66px;
}

.distances-list .distance-bus-station:before {
    width: 28px;
    height: 36px;
    background-position: -66px -10px;
}

#rooms-container {
    width: 100%;
}
#rooms-container .progress {
    left: 50%;
    margin: 50px 0 50px -25px;
}
#rooms-container .progress path {
    stroke: #2196f3;
}

#rooms .room-card {
    width: 48%;
    /*height: 338px;*/
    margin: 20px 2% 20px 0;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    padding: 0;
}

#page-hotel #rooms-container {
    padding: 0 6.5% 0 8.5%;
}

.preloader-wrapper {
    margin: 50px auto;
}

#rooms-header {
    padding: 0 0 20px 3%;
    width: 98%;
}

#page-hotel #rooms-container h2 {
    font-size: 2.25rem;
    /*color: #2196f3;
    text-align: left;*/
    margin: 0;
}

#rooms-container #sort {
    color: #a9a9a9;
    margin: 0;
    padding: 0 0 0 30px;
    height: 1.5rem;
}

#rooms-container #sort .select-wrapper input.select-dropdown {
    font-weight: 700;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 15px 0 0;
}

#rooms-container #sort-title {
    height: 1.5rem;
    margin: -0.75rem 0 0;
    position: absolute;
    top: 50%;
    font-size: 1rem;
    left: -5rem;
}

#page-hotel .room .image {
    float: left;
    margin: 0 20px 0 0;
}

#page-hotel .room > div {
    font-weight: 700;
    /*text-align: right;*/
    font-size: 1.325rem;

}

#conference-rooms .room > div {
    height: 100%;
}

/* new styles room-card */

#rooms .room-card.active {
    box-shadow: 0 5px 14px 0 rgba(51, 51, 51, 0.75);
    overflow: visible;
}

.room-item {
    display: flex;
    justify-content: space-between;
}

.room-content {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.room-content__name {
    margin: 25px 18px 25px 0;
    color: #1a1a1a;
}

@media (min-width: 320px) and (max-width: 1300px) {
    .room-content__name {
        margin: 15px 18px 0 0;
    }
}

.room-content__price {
    margin: 28px 18px 0 0;
    font-size: 2.155rem;
    /*color: #2196f3;*/
}

@media (min-width: 320px) and (max-width: 1300px) {
    .room-content__price {
        margin-top: 15px;
        font-size: 1.3rem;
    }
}

.room-content__term {
    margin: 0 18px 25px 0;
    color: #949494;
}

@media (min-width: 320px) and (max-width: 1300px) {
    .room-content__term {
        margin-bottom: 0;
    }
}

#page-hotel .room .features {
    margin: 0 18px 20px 0;
    height: 30px;
}

#page-hotel .room .features .material-icons {
    font-size: 2rem;
    margin: 0 0 0 10px;
}

/*#page-hotel .room .buttons {
    position: absolute;
    bottom: 12px;
    right: 0;
}*/

.main-rooms-slider {
    max-width: 338px;
}

.room-modal {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 20px 0;
    text-align: left;
}

@media (min-width: 1300px) {
    .room-modal {
        padding: 30px 0 0;
    }
}

.room-modal.active {
    position: absolute;
    top: 99%;
    display: flex;
    width: 100%;
    background: #fff;
    box-shadow: 0 8px 8px 0 rgba(51, 51, 51, 0.75);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1001;
}

.room-modal div:first-child {
    margin-left: 15px;
}

.room-modal .room-desc-list:first-of-type {
    margin-right: 0;
}

.room-content__button {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.room-content__button .button-booking {
    font-size: 1.16rem;
    padding: 15px 20px;
    margin: 6px 18px 6px 5px;
    height: 55px;
    background-color: #069;
    box-shadow: 1px 2px 5px #ccc;
}

#page-hotel #conference-rooms .room .button-booking {
    margin: 3px 0 6px 5px;
    height: 45px;
    line-height: 20px;
}

#page-hotel .room .booking-form {
    display: inline-block;
}

#page-hotel .room .button-more {
    /*color: #2196f3;*/
    padding: 11px 10px 11px 20px;
    margin: 7px 0;
    height: 55px;
    font-weight: 500;
    font-size: 1.15rem;
}

.room-more {
    width: 400px;
}
.room-more h4 {
    margin: 5px 50px;
    text-align: center;
}

.room-more .modal-close {
    position: absolute;
    top: 0;
    right: 5px;
    padding: 0;
}

.button-booking {
    color: #fff;
    background-color: #2196f3;
}

#button-all-rooms {
    font-size: 0.875rem;
    color: #2196f3;
    border: 2px solid #2196f3;
    background-color: #fff !important;
    margin: 40px 0 20px;
    padding: 1px 24px;
    height: 45px;
}

#conference-rooms {
    margin: 0 0 40px 0;
}

#conference-rooms hr {
    background: #bbc0c0;
    height: 1px;
    margin: 20px 2% 3px 0;
}

#conference-rooms h2 {
    color: #6b6b6b;
    font-size: 1.5rem;
    margin: 20px 25px;
}


#conference-rooms .room {
    margin: 5px 2% 15px 0;
    height: 215px;
}

#conference-rooms .wrapper {
    padding: 18px 18px 10px 0;
    float: left;
}

#conference-rooms .room .name {
    font-size: 0.94rem;
    margin: 0;
    height: 2.5rem;
}

#conference-rooms .room .features {
    margin: 10px 0;
}
#conference-rooms .room .features .material-icons {
    font-size: 1rem;
    float: none;
}

#conference-rooms .room .prices {
    margin: 10px 0 0;
    height: 3rem;
}

#conference-rooms .room .prices.row .col {
    margin: 0 0 0 10px;
    padding: 0;
}

#conference-rooms .room .prices > div {
}

#conference-rooms .room .price {
    font-size: 1.2rem;
    margin: 0;
}

#conference-rooms .room .term {
    font-size: 0.7rem;
    margin: 0;
}

#conference-rooms .room button {
    font-size: .67rem;
    margin: 6px 0;
    height: 35px;
    padding: 0 15px;
}

#conference-rooms .button-more {
    color: #959b9c;
    font-size: 0.875rem;
    border: 2px solid #959b9c;
    padding: 0 55px;
}

#conference-rooms .button-more .material-icons {
    width: 7px;
    position: relative;
    top: 7px;
}

#conf-room-prices {
    margin: 0 0 20px 0;
}

#conf-room-prices > div {
    margin: 0 15px;
    display: inline-block;
}

#conf-room-prices .price {
    color: #2196f3;
    font-size: 2rem;
}

#conf-room-prices .term {
    color: #949494;
    text-align: right;
}

#conf-room-features {
    margin: 15px 0;
}

#roominess {
    font-size: 1.5rem;
    color: #333;
    margin: 0 20px 0 0;
}


#confroom-booking {
    text-align: center;
    width: 100%;
}

#confroom-booking .button-booking,
#confroom-booking .button-booking > span {
    color: #fff !important;
}

#page-hotel .servio-search-form {
    border: none;
}


/* hotel carousel */
#carousel-hotel,
#carousel-hotel-small {
    position: relative;
}

#carousel-nav,
#carousel-nav-small {
    position: absolute;
    z-index: 1000;
    top: 50%;
}

.lb-data .lb-close {
    position: relative;
    top: -5px;
    right: -5px;
}

#carousel-hotel-images,
#carousel-hotel-images-small {
    height: 419px;
    /*background-image: url("../img/hotel-carousel-bg.jpg"); */
    background-size: cover;
}

#carousel-hotel .banners-item,
#carousel-hotel-small .banners-item {
    padding: 0;
    display: block;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    height: 419px;
}

#carousel-hotel .wrapper,
#carousel-hotel-small .wrapper {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#carousel-hotel .wrapper > div,
#carousel-hotel-small .wrapper > div {
    color: #fff;
    text-align: center;
    width: 100%;
}

#carousel-hotel .name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    position: absolute;
    top: 26%;
}

#carousel-hotel .stars {
    position: absolute;
    top: 41%;
}

#carousel-hotel .stars .material-icons {
    font-size: 2rem;
    height: 28px;
    float: none;
}

#carousel-hotel .address {
    font-size: 1.125rem;
    position: absolute;
    top: 54%;
}

#carousel-hotel .phone {
    color: #fff;
    text-decoration: underline;
    margin: 0 10px;
}

#carousel-hotel .gallery,
#carousel-hotel-small .gallery {
    height: 62px;
    position: absolute;
    bottom: 11%;
}

#carousel-hotel .gallery > span,
#carousel-hotel-small .gallery > span {
    height: 62px;
    margin: 5px;
    display: inline-block;
}

.gallery a {
    cursor: pointer;
}

#photo-all {
    position: relative;
    top: -26px;
    padding: 14px 0;
}

#photo-all a {
    color: #fff;
}
/* /hotel carousel */

/* /hotel page */

/* conference page */

#services {
    padding: 0 6.25%;
}

#services h1 {
    margin: 40px 0 45px
}

#services-icons {
    width: 100%;
    margin: 125px 0 20px;
    padding: 0;
}

#services-icons li {
    font-weight: 300;
    list-style: none;
    width: 12.5%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

#services-icons li:before {
    background: url(../img/conference-icons.png) no-repeat;
    width: 66px;
    height: 66px;
    position: absolute;
    top: -96px;
    content: "";
    left: 50%;
    margin: 0 0 0 -33px;
}

#services-icons #microphone:before {
    background-position: -66px 0;
}

#services-icons #movie-projector:before {
    background-position: -132px 0;
}

#services-icons #training:before {
    background-position: -198px 0;
}

#services-icons #waiter:before {
    background-position: -264px 0;
}

#services-icons #van:before {
    background-position: -330px 0;
}

#services-icons #language:before {
    background-position: -396px 0;
}

#services-icons #wifi:before {
    background-position: -462px 0;
}

#services .row .col {
    padding: 0;
}


#services p {
    margin: 20px 0;
    color: #000;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
}

#services #text-after {
    margin: 20px 0 15px 0;
}


#services-hotels {
    margin: 35px -3.5% 40px -2%;
    width: 100%;
}

#services-hotels .city-hotel .wrapper {
    background: rgba(0, 0, 0, 0.5);
    padding: 6% 4%;
}

#services-hotels .city-hotel {
    width: 23.5%;
    margin: 0 1.5% 1.5% 0;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

#services-hotels .city-hotel .name {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}

#services-hotels .city-hotel .city {
    font-size: 2.6rem;
}

#services-hotels  .city-hotel .city {
    font-size: 2.2rem;
    font-weight: 700;
    right: 4%;
}

#services-hotels .city-hotel .descr {
    font-size: 1.5rem;
    font-weight: 700;
    position: absolute;
    bottom: 6%;
    left: 3%;
}

#services-hotels .button-see-all {
    background-color: #2196f3 !important;
    margin: 100px 2.5%;
    font-size: 1.5rem;
    padding: 12px 35px;
    height: 3.5rem;
}

#confroom-image {
    text-align: center;
}


/* /conference page*/

#text {
    border-top: 1px solid #e6e6e6;
    background: #fff;
    color: #000;
    padding: 2% 0;
}

#text h1 {
    color: #1a1a1a;
    font-size: 3.75rem;
}

#text p {
    margin: 20px 6.25%;
    font-size: 1.125rem;
    font-weight: 300;
}

#text-offers {
    padding: 0 7% 100px 7%;
    color: #000;
}

/* footer */

#footer {
    height: 285px;
    background: #1a1a1a;
    color: #a3a3a3;
    padding: 0;
    border-bottom: 1px solid #f4f5f6;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer .row {
    margin-bottom: 0;
}

#footer-top {
    padding: 40px 5% 80px 5%;
    height: 220px;
}

#footer-bottom {
    opacity: 0.6;
    padding: 20px 5%;
    background: #000;
    margin: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

#footer a {
    color: #a3a3a3;
}

#footer a:hover,
#footer .active {
    color: #fff;
}

#footer #footer-main a {
    padding: 0 1.4%;
    text-transform: none;
}
#footer-main
{
    line-height: inherit;
}

#footer-contacts {
    padding: 0 80px;
}

#footer .phone {
    font-weight: bold;
    font-size: 2.25rem;
    color: #fff;
    margin: 20px 0 0;
}

#footer-search input {
    width: 380px;
    color: #fff;
    border-color: #1e7cc6;
    box-shadow: none;
}

#footer-search label {
    color: #a1a1a1;
    font-size: 1rem;
}

#footer-logo {
    opacity: 0.6;
    float: left;
}

#footer .name {
    float: left;
    line-height: 45px;
    margin: 0 10px;
}

#footer #copyright {
    padding: 0;
}

#footer .social {
    float: right;
    margin: 0;
}

#footer .vk {
    margin: 0 0 0 10px;
}

/* /footer */

/* map */

#hotels-map {
    position: relative;
}

#hotels-map h2 {
    font-size: 3.75rem;
    color: #1a1a1a;
    font-weight: 700;
    text-align: center;
    margin: 50px 0;
}

#map {
    overflow: hidden;
    width: 100%;

}

#map svg {
    background-color: rgb(191, 216, 242);
    border-color: #519ad6;
    border-width: 2px 0 5px 0;
    border-style: solid;
}

.country {
    fill: #eee;
}

.country.UKR {
    /*fill: #cdc;*/ /* Na zielonej Ukrainie */
    fill: #fff;
}

.country-boundary {
    fill: none;
    stroke: #aaa;
}

.region {
    fill: #336699;
}

.region-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2.2;
    stroke-linejoin: round;
}

.region-label {
    fill: #333;
    fill-opacity: .8;
    font-size: 0.6rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-anchor: middle;
    pointer-events: none;
}

.coastline, .river, .lake {
    stroke: rgb(83, 168, 231);
}

.coastline, .river {
    fill: none;
}

.lake {
    fill: rgb(83, 168, 231);
    fill-opacity: 1;
}

.mark:hover {
    cursor: pointer;
}

.region:hover {
    fill: #4caf50;
    cursor: pointer;
    fill-opacity: 1 !important;
}

#crimea {
    fill-opacity: 0;
}

#crimea:hover {
    cursor: default;
    fill-opacity: 0 !important;
}

#hotels .hotel,
#hotels .hotels-list {
    display: none;
    width: 20%;
    border-radius: 5px;
    position: absolute;
    background: #fff;
    border: 5px solid #2196f3;
}

#hotels .wrapper {
    padding: 7%;
}

#hotels .header button {
    margin: 0;
}

#hotels .header {
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
}


#hotels .background {
    height: 150px;
    padding: 0 7%;
    background: rgba(0, 0, 0, 0.45);
}

#hotels .header a,
#hotels .header .material-icons {
    color: #fff;
}

#hotels .title {
    color: #1a1a1a;
    margin: 0 0 25px 0;
    font-size: 1rem;
}

#hotels .stars {
    float: right;
    margin: 0 0 0 -6rem;
    width: 6rem;
}

#hotels .stars .material-icons {
    font-size: 1rem;
    line-height: 1.5rem;
}

#hotels .text {
    line-height: 2em;
    font-size: 0.9rem;
}

#hotels .button-more {
    border: 2px solid #2196f3;
    color: #2196f3;
    font-size: 0.9rem;
    height: 45px;
    margin: 6px 12px 0 0;
    padding: 3px 12px;
}

#hotels .hotels-list .header {
    height: 70px;
    background: #2196f3;
    color: #fff;
    font-size: 1.125rem;
    padding: 0 30px;
    text-transform: none;
}

.hotels-list .header > div {
    width: 100%;
}

#hotels .hotels-list .wrapper {
    font-size: 1rem;
    color: #1a1a1a;
    padding: 7% 7% 2.33% 7%;
}

#hotels .hotels-list .hotel-item {
    margin: 0 0 20px 0;
}

#hotels .hotels-list .hotel-item .w-stars {
    padding: 0 7rem 0 0;
}

#hotels .button-close {
    position: absolute;
    top: -18px;
    right: -45px;
    box-shadow: none;
    color: #2196f3;
}

#reserve-modal {
    width: 30%;
}

#reserve-modal .modal-header {
    padding: 20px;

}

#reserve-modal h4 {
    font-size: 2rem;
    line-height: 100%;
    margin: 0;
}

#reserve-modal .modal-content {
    padding: 0 20px;
}

#reserve-modal .button-close {
    position: absolute;
    top: 0;
    right: 5px;
    box-shadow: none;
    color: #2196f3 !important;
}

#reserve-modal .modal .modal-footer {
    padding: 0;
    text-align: left;
}

#reserve-modal .button-close .material-icons {
    color: #333;
}

#hotels .material-icons {
    color: #2196f3;
}
/* /map */


/* contacts page */

#gmap {
    position:relative;
}

#gmap iframe {
    width: 100%;
    height: 70vh;
}

#gmap .overlay {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
}

#page-contacts h1 {
    font-size: 3.75rem;
    margin: 35px 0 0;
}

#page-contacts .line2 {
    color: #363636;
    font-size: 1.5rem;
    text-align: center;
    margin: 30px 0 70px;
}

#page-contacts #main {
    padding: 0 5% 0 3%;
}

#feedback #result {
    text-align: center;
}

#page-contacts .text {
    width: 100%;
    margin: 50px 0 70px;
}

#page-contacts .text p {
    color: #888;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
}

.contact .name {
    font-size: 2.25rem;
    font-weight: 700;
    color: #1a1a1a;
}

.contact .phone,
.contact .mail {
    font-size: 1.5rem;
    color: #363636;
    text-transform: lowercase;
    white-space: nowrap;
}

#feedback .text-field {
    border: 2px solid #0099da;
    height: 56px;
    width: 92%;
    border-radius: 5px;
    margin: 0 0 20px 0;
    background: #fff;
    padding: 0px 4%;
    color: #000;
}

#feedback .submit {
    font-size: 1.125rem;
    color: #fff;
    padding: 0 55px;
    background: #0099da;
    border: none;
    border-radius: 5px;
    height: 3rem;
}

/* /contacts page */

/* gallery */

#gallery a:hover {
    cursor: pointer;
}
/* /gallery */

.pagination {
    text-align: center;
    height: 30px;
    padding: 0;
    margin: 0 0 30px 0;
}

.pagination li {
    display: inline;
    list-style: none;
    margin: 0 5px;
    font-size: 1.5rem;
}

.pagination li a {
    color: #2196f3;
}

.pagination li.active a {
    font-weight: 700;
}

.nav-control  > a {
    position: absolute;
    top: 50%;
    margin: -2.5rem 0 0 0;
    z-index: 10;
}

#prev-image {
    left: 2rem;
}

#next-image {
    right: 2rem;
}

.nav-control .material-icons {
    font-size: 4rem;
    color: #333;
    background: rgba(255,255,255,0.3);
    margin: 1rem;
}

.lightbox-modal-body {
    background: transparent;
}

.lightbox-modal-body .close-button {
    font-size: 4rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 3rem;
    background: rgba(255,255,255,0.3);
    min-width: 3rem;
    height: 3rem;
    padding: 0 0 10px 0;
}

/* search-results */
.search-results h3 {
    font-size: 1.5rem;
}

#search-query {
    width: 300px;
    border-color: #2196f3;
    box-shadow: none;
    color: #333;
}
/* /search-results */

/* media queries */
@media (min-width: 2540px) {

    #rooms .room,
    #rooms .room .image {
        height: 457px;
    }

    #rooms .room .image {
        width: 480px;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 290px;
    }

    #conference-rooms .room .image {
        width: 370px;
    }

    #page-hotel #conference-rooms .room .button-booking {
        position: absolute;
        bottom: 10px;
        right: 18px;
        margin: 10px 0 6px 5px;
    }

    .offer {
        height: 410px;
    }
}
/* width 1920px */
@media (max-width: 1920px) {
    html {
        font-size: 16px;
    }

    #logo {
        width: 21%;
    }

    #header-right {
        width: 79%;
    }

    #menu-main {
        width: 80%;
    }

    .category .title {
        font-size: 1.7rem;
    }

    .banners .title {
        font-size: 2.2rem;
    }

    #booking {
    }

    #services-hotels .city-hotel .city {
        font-size: 2rem;
        right: 4%;
    }

    #services-hotels .city-hotel .descr {
        font-size: 1.2rem;
        bottom: 6%;
        left: 3%;
    }


}
/* /width 1920px */

/* width 1680px */
@media (max-width: 1680px) {
    html {
        font-size: 15px;
    }

    h1 {
        font-size: 2.8rem;
    }

    #logo-img img {
        width: 87px;
        height: 87px;
    }

    #menu-main > a {
        margin: 0 2% 6px 0;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1 {
        font-size: 3.5rem;
    }

    #offers-container h1 {
        font-size: 2.8rem;
    }

    #carousel-hotel-images {
        height: 366px;
    }

    #carousel-hotel .stars {
        top: 43%;
    }

    #carousel-hotel .gallery {
        bottom: 9%;
    }

    .row .category {
        height: 405px;
    }

    .category > .wrapper {
        padding: 5% 5% 7% 5%;
    }

    .category .category-icon {
        float: left;
        margin: 0 10px 0 0;
        width: 60px;
        height: 60px;
    }

    .category .text {
        font-size: 1.3rem;
    }

    .offer {
        height: 285px;
    }

    .offer .title {
        font-size: 0.9rem;
    }

    /*.city-hotel {
        height: 275px;
    }

    #city-hotels #hotel0,
    #city-hotels #hotel1 {
        height: 593px;
    }*/

    .city-hotel .city {
        font-size: 2.5rem;
    }

    #page-hotel #breadcrumbs,
    #page-hotel #main,
    #page-hotel #conference-rooms {
        padding: 0 8.5% 0 5%;
    }

    #page-hotel #rooms-container {
        padding: 0 7.5% 0 5%;
    }

    #rooms .room .price {
        font-size: 2rem;
    }

    #conference-room .room .price {
        font-size: 1.3rem;
    }

    #rooms .room,
    #rooms .room .image {
        height: 308px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 324px;
    }

    #footer-search input {
        width: 275px;
    }

    #footer .phone {
        font-size: 2rem;
    }
}
/* /width 1680px */
/* width 1440px */

@media (max-width: 1440px) {

    h1 {
        font-size: 2.4rem;
    }

    #top {
        height: 30px;
    }

    #logo-img {
        margin: 0 12px 0 0;
        float: left;
    }

    /*#logo-img img {
        width: 87px;
        height: 87px;
    }*/

    #logo-text {
        font-size: 1.6rem;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1 {
        font-size: 3rem;
    }

    #menu-main > a {
        margin: 0 1% 6px 0;
        /*font-size: 1rem;*/
        font-size: 11px;
    }

    #offers-container h1 {
        font-size: 2.4rem;
    }

    #phone-number {
        font-size: 1.7rem;
    }

    #carousel .title {
        font-size: 2rem;
    }

    #carousel-hotel-images {
        height: 314px;
    }

    #carousel-hotel .name {
        top: 24%;
    }

    #page-hotel .room .name {
        margin: 20px 18px 25px 0;
        color: #1a1a1a;
    }

    #conference-rooms .room .name {
        margin: 0;
    }

    #page-hotel .room .price {
        font-size: 1.8rem;
        margin: 20px 18px 0 0;
    }

    #conference-rooms .room .price {
        margin: 0;
    }

    #page-hotel .room .button-booking  {
        font-size: 0.9rem;
        padding: 2px 10px;
        height: 45px;
    }

    #page-hotel #conference-rooms .room .button-booking {
        height: 30px;
        position: absolute;
        bottom: 6px;
        right: 10px;
    }

    #page-hotel .room .button-more {
        padding: 6px 10px;
        font-size: 1rem;
        height: 45px;
    }

    #page-hotel .room .button-more  i.right {
        margin-left: 5px;
    }

    .row .category {
        height: 340px;
    }

    .category .category-icon {
        width: 55px;
        height: 55px;
    }

    .category .title {
        font-size: 1.4rem;
    }

    #hotels .hotel, #hotels .hotels-list {
        width: 25%;
    }

    .offer {
        height: 238px;
    }

    .offer .title {
        font-size: 0.8rem;
        margin: 0px 0 10px;
    }

    #main-wrapper {
        padding: 0 0 270px 0;
    }

    #distances button {
        padding: 5px 15px;
        font-size: 1rem;
    }

    /*.city-hotel {
        height: 236px;
    }

    #city-hotels #hotel0,
    #city-hotels #hotel1 {
        height: 503px;
    }*/

    .city-hotel .city {
        font-size: 2rem;
        right: 5%;
    }

    #conference-rooms .wrapper {
        padding: 12px 12px 6px 0;
        margin: 0;
    }

    #conference-rooms .room .prices {
        margin: 0;
    }

    #conference-rooms .room .price {
        font-size: 1.2rem;
    }

    #conference-rooms .room .term {
        font-size: 0.75rem;
    }

    #conference-rooms .room .prices > div {
        margin: 0 0 0 10px;
    }

    #conference-rooms .room button {
        font-size: 0.7rem;
    }

    #conference-rooms .room .features {
        margin: 0;
        height: 1.8rem;
    }

    #conference-rooms .room button {
        padding: 0px 10px;
        height: 30px;
        line-height: 0.7rem;
    }

    #rooms .room,
    #rooms .room .image {
        height: 263px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 277px;
    }

    /*#services-hotels .city-hotel {
        height: 208px;
    }*/

    #services-hotels .city-hotel .descr {
        font-size: 1rem;
    }

    #services-hotels .city-hotel .city {
        font-size: 1.5rem;
    }

    #services-hotels .button-see-all {
        font-size: 1.2rem;
        padding: 2px 19px;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 170px;
    }

    #conference-rooms .room .image {
        width: 218px;
        margin: 0 10px 0 0;
    }

    .contact .phone,
    .contact .mail {
        font-size: 1.4rem;
    }

    #footer {
        height: 270px;
    }

    #footer-top {
        padding: 40px 3%;
    }

    #footer-bottom {
        padding: 20px 3%;
    }

    #footer-search input {
        width: 250px;
    }

    #footer #copyright {
        /*width: 50%;*/
    }

    #footer-contacts {
        padding: 0 50px;
    }
}
/* /width 1440px */
/* width 1336px */
@media (max-width: 1366px) {

    html {
        font-size: 14px;
    }

    #top {
        height: 33px;
    }

    #page-hotel #logo {
        height: 86px;
    }

    #menu-main {
        margin: -15px 0 0 0;
    }

    #page-hotel #header,
    #page-contacts #header,
    #page-gallery #header {
        height: 90px;
    }

    .banner-text {
        margin: 50px 0 0 0;
    }

    #logo-img img {
        width: 80px;
        height: 80px;
    }

    #carousel-hotel-images {
        height: 297px;
    }

    #booking {
        top: 17%;
    }

    #page-hotel .room {
        margin: 12px 2% 12px 0;
    }

    #rooms .room,
    #rooms .room .image {
        height: 250px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 263px;
    }

    #footer-top {
        padding: 40px 4%;
    }

    #footer-bottom {
        padding: 20px 4%;
    }

    #footer-contacts {
        margin: 0;
        padding: 0 20px;
    }

}
/* /width 1336px */

/* width 1280px */
@media (max-width: 1280px) {

    #header {
        height: 95px;
    }

    #logo {
        width: 20%;
    }

    #header-right {
        width: 80%;
    }

    #top-menu {
        padding: 0;
    }

    #logo-img img {
        width: 60px;
        height: 60px;
        /*width: 75px;
        height: 75px;*/
    }

    #logo-text {
        font-size: 1.3rem;
    }

    #page-hotel #header,
    #page-contacts #header,
    #page-gallery #header {
        height: 90px;
    }

    h1 {
        font-size: 2.3rem;
    }

    #carousel-hotel-images,
    #carousel-hotel .banners-item {
        height: 278px;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1 {
        font-size: 2.85rem;
    }

    #offers-container h1 {
        font-size: 2.3rem;
    }

    #search {
        width: 290px;
    }

    #phone {
        margin: 0;
    }

    #carousel .description {
        width: 350px;
    }

    #carousel-hotel .name {
        top: 20%;
    }

    #carousel-hotel .stars {
        top: 41%;
    }

    #carousel-hotel .address {
        top: 54%;
    }

    #carousel-hotel .gallery {
        bottom: 8%;
    }

    .row .category {
        height: 302px;
    }

    .category .category-icon {
        height: 50px;
        width: 50px;
    }

    .offer .wrapper > div {
        height: 32%;
        padding: 10px 5%;
    }

    .offer .title {
        font-size: 0.8rem;
    }

    .category .title {
        font-size: 1.3rem;
    }

    .category .title a {
        line-height: 50px;
    }

    .category .text {
        font-size: 1rem;
    }

    .category-image {
        width: 305px;
        height: 335px;
    }

    .category-icon {
        width: 45px;
        height: 45px;
    }

    .cont {
        padding: 30px 0;
    }

    #hotels .hotel,
    #hotels .hotels-list {
        width: 30%;
    }

    #offers-container h2 {
        margin: 30px 0;
    }
    .offer {
        height: 211px;
    }

    .offer button {
        font-size: 0.9rem;
    }

    #offers-container .button-see-all {
        margin: 30px 0;
    }

    .distance .title {
        font-size: 1.1rem;
    }

    #page-hotel .room .button-booking  {
        font-size: 0.9rem;
        padding: 4px 10px;
    }

    #rooms .room,
    #rooms .room .image {
        height: 234px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 246px;
    }

    #page-hotel .room .name {
        margin: 20px 18px 15px 0;
    }

    #page-hotel .room .price {
        margin: 15px 18px 0 0;
    }

    #conference-rooms .room .prices > div {
        margin: 0 0 0 10px;
    }

    #conference-rooms .room .prices > div:first-child {
        margin: 0;
    }

    #conference-rooms .room .name {
        margin: 0 0 5px 0;
    }

    #conference-rooms .room .prices {
        max-width: 175px;
        overflow: hidden;
    }

    #conference-rooms .room .price {
        font-size: 0.95rem;
        margin: 0;
    }


    #page-hotel .room .term {
        margin: 0 18px 0px 0;
    }

    #page-hotel .room .features {
        margin: 10px 18px 10px 0;
    }

    #conference-rooms .room .term {
        font-size: 0.65rem;
        margin: 0;
    }

    #conference-rooms .room .features {
        margin: 5px 0;
    }

    #footer .phone {
        font-size: 1.75rem;
        margin: 15px 0 0;
    }

    #footer-search input {
        width: 250px;
    }

    #footer #footer-main a {
        padding: 0 1%;
    }

    .city-hotel,
    #city-hotels #hotel0,
    #city-hotels #hotel1{
        width: 45%;
    }

}
/* /width 1280px */
/* width 1024px */
@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    #header {
        height: 75px;
        padding: 5px 1.5% 0 0;
    }

    #carousel-hotel-images {
        height: 278px;
    }

    #top {
        top: -15px;
        height: 30px;
    }

    #logo {
        margin: 10px 0;
    }

    #menu-main {
        padding: 0;
        width: 80%;
    }

    #menu-main > a {
        min-height: 30px;
        height: 30px;
        font-size: 0.95rem;
        margin: 0 0.5% 6px 0;
    }

    #page-hotel #top {
        top: -8px;
        height: 40px;
    }

    #page-hotel #header,
    #page-contacts #header,
    #page-gallery #header {
        height: 75px;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    #carousel-hotel .name {
        top: 14%;
    }

    #carousel-hotel .stars {
        top: 36%;
    }

    #carousel-hotel .address {
        top: 52%;
    }

    #carousel-hotel .gallery {
        bottom: 6%;
    }

    .banners .button-more {
        padding: 0 20px;
        height: 35px;
    }

    #booking {
        top: 80px;
    }

    #booking button {
        min-height: 30px;
        line-height: 30px;
        font-size: 1rem;
    }

    .social {
        /*min-width: 330px;*/
    }

    #phone {
        display: none;
        /*margin: 0;*/
    }

    #search {
        width: 185px;
        margin: 2px 10px 0 0;
    }

    .cont {
        padding: 20px 0;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1,
    #offers-container .button-see-all {
        margin: 20px 0;
    }

    .offer .text,
    .offer-item .text {
        font-size: 0.7rem;
        line-height: 0.9rem;
        overflow: hidden;
    }

    #text {
        padding: 1% 0;
    }

    .row .category {
        height: 242px;
    }

    .category .category-icon {
        height: 38px;
        width: 38px;
    }

    .category > .wrapper {
        padding: 5% 3% 7% 3%;
    }

    .category .title {
        font-size: 1.25rem;
    }

    .offer {
        height: 170px;
    }

    .category .text {
        font-size: 1rem;
        margin: 15px 0 15px 0;
    }

    .category .category-icon {
        margin: 0 10px 0 0;
    }

    .distance .title {
        font-size: 1rem;
    }

    .distance .value {
        font-size: 2.2rem;
    }

    /*#city-hotels #hotel0,
    #city-hotels #hotel1 {
        height: 356px;
    }*/

    #city-hotels #hotel0 .city {
        font-size: 3rem;
    }

    /*.city-hotel {
        height: 166px;
    }*/

    .city-hotel .name {
        font-size: 1.8rem;
        margin: 0px 0 5px 0;
    }

    #city-hotels .stars .material-icons {
        font-size: 16px;
    }

    #hotels-container .button-see-all {
        font-size: 1.2rem;
        padding: 0px 15px;
        margin: 20px 0 0;
    }

    #hotels .background {
        height: 100px;
    }

    #hotels .header button {
        margin: 0;
        font-size: 1.1rem;
    }

    #hotels .title {
        margin: 0 0 10px 0;
    }

    #carousel-hotel .gallery > span img,
    #carousel-hotel-small .gallery > span img {
        width: 75px;
        height: 57px;
    }

    .offer .title {
        margin: 0px 0 5px;
        font-size: 0.8rem;
        overflow: hidden;
    }

    .offer .wrapper > div {
        padding: 10px 5%;
        height: 35%;
    }

    #distances button {
        padding: 0px 10px;
        font-size: 1rem;
    }

    #rooms .room,
    #rooms .room .image {
        height: 187px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 196px;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 120px;
    }

    #conference-rooms .room .features {
        margin: 0;
        height: 1.3rem;
    }

    #conference-rooms .room .image {
        width: 154px;
    }

    #page-hotel .room .image {
        margin: 0 10px 0 0;
    }

    #page-hotel .room .name {
        margin: 15px 18px 15px 0;
    }

    #conference-rooms .room .name {
        margin: 0;
    }

    #conference-rooms .room .term {
        font-size: 0.7rem;
    }

    #rooms .room .price {
        font-size: 1.7rem;
        margin: 20px 18px 0 0;
    }

    #conference-rooms .room .price {
        font-size: 1.1rem;
        height: 1.2rem;
    }

    #page-hotel .room .button-booking  {
        font-size: 0.75rem;
        min-height: 25px;
        line-height: 24px;
    }

    #page-hotel #conference-rooms .room .button-booking {
        height: 30px;
        position: absolute;
        bottom: 0;
        right: 6px;
    }

    #conference-rooms .wrapper {
        padding: 5px 5px 2px 0;
    }

    #conference-rooms .room .prices {
        margin: 5px 0 0 0;
        height: 2rem;
        max-width: 170px;
    }

    #conference-rooms .room .prices > div {
        margin: 0 0 0 10px;
    }

    #conference-rooms .room button {
        padding: 0 10px;
        min-height: 25px;
        min-width: 70px;
        line-height: 25px;
    }

    #conference-rooms .button-more {
        padding: 0 30px;
        line-height: 32px;
    }

    .contact .name {
        font-size: 2rem;
    }

    .contact .phone, .contact .mail {
        font-size: 1.2rem;
    }

    #footer-search input {
        width: 200px;
    }

    #logo-text {
        font-size: 1.2rem;
    }

    #main-wrapper {
        padding: 0 0 200px 0;
    }

    #footer {
        height: 200px;
    }

    #footer-top {
        padding: 20px 2%;
    }

    #footer-bottom {
        padding: 10px 2%;
    }

    #footer #footer-main a {
        padding: 0 1.5% 0 0;
    }

}
/* /width 1024px */

@media (max-width: 960px) {
    #booking {
        top: 70px;
    }

    #logo {
        margin: 0;
    }
}

@media (min-width: 960px) {
    html {
        min-width: 940px;
    }
}

@media (max-width: 800px) and (min-width: 768px) {

    #logo {
        width: 8%;
        margin: 10px 0;
    }

    #header-right {
        width: 90%;
    }

    #page-hotel #logo {
        height: 70px;
    }

    #carousel {
        height: 355px;
    }

    .row .category {
        height: 206px;
    }

    .offer {
        height: 145px;
    }

    .offer .text,
    .offer-item .text {
        display: none;
    }

    #page-hotel #breadcrumbs,
    #page-hotel #main,
    #page-hotel #conference-rooms {
        padding: 0 2%;
    }

    #page-hotel #booking {
        margin: 0 2% 0 0;
    }

    #description {
        width: 71%;
        padding: 15px 20px 15px 15px;
    }

    #page-hotel .room {
        width: 100%;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 280px;
    }

    #rooms .room,
    #rooms .room .image {
        height: 240px;
    }

    #conference-rooms .room .image {
        width: 220px;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 165px;
    }

    #page-hotel .room .button-booking  {
        height: 30px;
    }

    #carousel-hotel .gallery {
        height: 42px;
    }

    #carousel-hotel .gallery > span img {
        width: 52px;
        height: 42px;
    }

    #services-hotels .city-hotel {
        width: 31.5%;
    }

    #reserve-modal {
        width: 50%;
    }

    #footer {
        height: 225px;
    }

    #header {
        height: 70px;
    }

    #menu-main {
        margin: -20px 0 0 0;
    }

    #menu-main > a {
        font-size: 0.8rem;
    }

    #booking {
        left: 12%;
        width: 220px;
    }

    .banner-text {
        right: 10%;
        margin: 25px 0 0 0;
    }

    #button-skip {
        bottom: -7px;
    }

    #categories,
    #offers,
    #text {
        padding: 1%;
        width: 100%;
    }

    .category .title a {
        line-height: 45px;
        font-size: 1rem;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1,
    #offers-container .button-see-all {
        margin: 10px 0;
    }

    #footer-search-m {
        height: 50px;
        position: absolute;
        top: 60px;
        margin: 0;
    }

    #conference-rooms .room .name {
        font-size: 1.5rem;
    }

    #conference-rooms .room .prices {
        height: 3rem;
        max-width: 100%;
    }

    #conference-rooms .room .price {
        font-size: 1.2rem;
    }

    #conference-rooms .room .term {
        font-size: 0.75rem;
    }

}


/* /width 960px */

@media (max-width: 768px) and (min-width: 600px) {
    #header {
        padding: 5px 0 0 0;
    }

    #header-right {
        float: left;
        padding: 0;
        margin: 0;
    }

    #page-hotel #logo {
        height: 71px;
    }

    #logo-text {
        margin: -3px 0 0 0;
        font-size: 0.9rem;
    }

    #logo-img {
        margin: 0 5px 0 0;
    }

    #logo img {
        width: 40px;
        height: 40px;
    }

    #top {
        top: -10px;
        right: 150px;
    }

    #phone-number {
        font-size: 1.2rem;
    }

    .social {
        min-width: 120px;
        margin: 0 20px 0 0;
    }

    #menu-main {
        position: relative;
        /*top: 0;*/
        top: 10px;
        left: 20px;
        height: 45px;
        line-height: 45px;
        /*height: 35px;*/
    }

    #menu-main > a {
        font-size: 0.8rem;
        margin: 0 0 6px 0;
    }

    #header .callback button {
        min-width: 50px;
    }

    .social .icon {
        margin: 0 5px;
        transform: scale(0.8);
    }

    #booking {
        top: 65px;
        width: 28%;
        left: 15%;
    }

    #breadcrumbs {
        margin: 10px 0 0;
    }

    #page-hotel #main {
        margin: 10px 0;
    }

    #carousel .title {
        font-size: 1.5rem;
    }

    #carousel .description {
        width: 250px;
        font-size: 0.8rem;
    }

    .banners .banners-item .type {
        font-size: 1rem;
    }

    .banners .banners-item > span {
        margin: 0px 0 7px 0;
    }

    .banners .button-more {
        padding: 0px 6px;
        min-height: 23px;
        height: 23px;
        line-height: 2rem;
        font-size: 0.75rem;
    }

    .banners .price {
        font-size: 1rem;
    }

    .row .category {
        height: 173px;
    }

    #categories,
    #offers,
    #text {
        padding: 1%;
    }

    #hotels-map h2,
    #offers-container h2,
    #text h1,
    #offers-container .button-see-all {
        margin: 10px 0;
    }

    .category .category-icon {
        height: 30px;
        width: 30px;
    }

    .category .title {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .category .title a {
        line-height: 35px;
    }

    .offer {
        height: 140px;
    }

    .offer .wrapper > div {
        padding: 5px 5%;
        height: 43%;
    }

    .offer .title {
        font-size: 0.75rem;
        line-height: 0.9rem;
    }

    .offer .text,
    .offer-item .text {
        line-height: 0.6rem;
    }

    #city-hotels {
        width: 100%;
        padding: 0;
    }

    /*#services-hotels .city-hotel {
        width: 31%;
    }

    #services-hotels .city-hotel {
        height: 147px;
    }*/

    #services-hotels .city-hotel .descr {
        font-size: 0.9rem;
    }

    #page-contacts #main {
        padding: 0 2%;
    }


    #page-contacts .line2 {
        margin: 20px 0 40px;
    }

    .contact .name {
        font-size: 1.9rem;
    }

    .contact .phone, .contact .mail {
        font-size: 1.1rem;
    }

    #carousel-hotel .gallery {
        bottom: 0;
    }

    #carousel-hotel .gallery > span {
        height: 40px;
    }

    #button-skip {
        bottom: -10px;
    }

    #page-hotel .room {
        width: 100%;
    }

    #rooms .room,
    #rooms .room .image {
        height: 234px;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 246px;
    }

    #page-hotel .room .button-booking  {
        font-size: 1rem;
        padding: 2px 10px;
        min-height: 36px;
    }

    #conference-rooms .room .image {
        width: 218px;
    }
    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 170px;
    }

    #conference-rooms .room .name,
    #conference-rooms .room .term {
        font-size: 1.325rem;
    }

    #conference-rooms .room .features {
        margin: 10px 0 5px;
    }

    #page-hotel .room .price {
        font-size: 1.8rem;
        height: 2rem;
    }

    #conference-rooms .room .prices {
        margin: 5px 0 0 0;
        height: 4rem;
        width: 100%;
        max-width: 100%;
    }

    #carousel-hotel .gallery > span img {
        width: 52px;
        height: 40px;
    }

    #page-hotel #breadcrumbs,
    #page-hotel #main {
        padding: 0 2%;
    }

    #description {
        padding: 15px;
        width: 71%;
    }

    #footer-contacts {
        margin: 0;
        padding: 0;
    }

    #footer-search input {
        width: 140px;
    }

    #footer #copyright {
        width: 60%;
        margin: 0;
    }

    #copyright > div {
        margin: 0px 15px 0px 10px;
    }

    #footer #footer-main a {
        padding: 0 1.5% 0 0;
    }

    #footer .phone {
        margin: 0;
    }

    #footer-search {

    }
    #footer-top-left {
        position: relative;
    }

    #footer-main {
        position: absolute;
        top: -18px;
    }

    #footer-search-m {
        height: 50px;
        position: absolute;
        top: 20px;
        margin: 0;
    }
    #footer-main .btn-flat {

        line-height: 25px;
        height: 25px;
    }

}

/* width 599px */
@media (max-width: 599px) {

    #header {
        padding: 0;
        height: 61px;
        position: relative;
        width: 100%;
    }

    #page-hotel #header, #page-contacts #header, #page-gallery #header {
        background: transparent;
        height: 61px;
        padding: 0;
    }

    #header-mobile {
        width: 100%;
    }

    #header-mobile > div {
        color: #000;
    }

    #header-mobile .material-icons {
        font-size: 3rem;
    }

    #header-mobile #menu-main-m {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(33, 150, 243, 0.95);
        margin: 0;
    }

    #header-search {
        position: absolute;
        top: 10px;
        width: 92%;
        left: 4%;
        height: 50px;
        display: none;
    }

    #search-close {
        position: absolute;
        right: 4%;
        color: #777;
        top: 50%;
        margin: -19px 0 0 0;
    }

    #menu-main-m {
        display: none;
        position: absolute;
        z-index: 100;
        background: #2196f3;
        top: 0;
    }

    #menu-main-m nav {
        padding: 10% 0;
    }

    #menu-main-m a {
        font-weight: 300;
        /*font-size: 2.5rem;*/
        font-size: 1.5rem;
        color: #fff;
        margin: 8px;
        text-transform: uppercase;
    }

    #menu-main-m a:hover {
        border-bottom: 6px solid #fff;
    }

    #menu-close {
        position: absolute;
        top: 20px;
        right: 3%;
    }

    #menu-close .material-icons {
        color: #fff;
        font-size: 3rem;
    }

    #main {
        background: #fff;
    }

    #offer-image {
        margin: 20px 0;
    }

    #main p img,
    #main #offer-image img {
        width: 100% !important;
        height: 100% !important;
    }

    .servio-search-form .card {
        margin: 10px 0;
        border-radius: 3px;
        padding: 0 5px;
    }

    #booking {
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        border: none;
    }

    #confroom-booking {
        margin: 0 0 30px;
    }

    .banners .banners-item {
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        padding: 0 10%;
    }

    .banners .banners-item .type {
        font-size: 1.5rem;
    }

    #carousel .title {
        font-size: 2rem;
        text-align: center;
    }

    .banner-text {
        right: 5%;
        margin: 0;
    }

    .banners .description {
        text-align: center;
        width: 350px;
        font-size: 1rem;
    }

    .banners .price {
        font-size: 1.25rem;
    }

    .slick-prev {
        left: 2rem;
    }

    .slick-next {
        right: 2rem;
    }

    #categories, #offers, #text {
        padding: 1% 4%;
        width: 100%;
    }

    .row .category {
        margin: 8px 0;
        height: 355px;
    }

    .category .category-icon {
        width: 70px;
        height: 70px;
    }

    .category .title {
        font-size: 2.2rem;
        line-height: 6rem;
    }

    .category .text {
        margin: 15px 0 20px 0;
    }

    .category, .offer {
        border-radius: 0;
    }

    .offer {
        width: 100%;
        max-width: 100% !important;
        margin: 10px 0;
    }

    .slick-slider .offer {
        margin: 0;
    }

    .offer .title {
        margin: 0px 0 5px;
        font-size: 1.5rem;
    }

    .offer .text, .offer-item .text {
        font-size: 1.1rem;
        height: 2.3rem;
        overflow: hidden;
        word-break: break-word;
        line-height: 1.1rem;
    }

    #offers-m {
        width: 70%;
        position: relative;
    }

    #offers-m span {
        display: block;
    }

    #offers-m > ul {
        width: 100%;
        height: 225px;

    }

    .offer-item {
        color: #4c4c4c;
        height: 225px;
        width: 100%;
        border-radius: 3px;
        background-size: cover;
    }

    .offer-item .wrapper > span {
        height: 20%;
    }

    #offers-m li,
    #offers-m li span {
        display: block;
    }

    #main-wrapper {
        padding: 0 0 245px 0;
    }

    #city-hotels {
        padding: 0 4%;
    }

    .city-hotel,
    #city-hotels #hotel0,
    #city-hotels #hotel1{
        width: 100%;
        height: 380px;
        margin: 10px 0;
    }

    .city-hotel .hotel-image,
    #city-hotels #hotel0 .hotel-image,
    #city-hotels #hotel1 .hotel-image{
        min-height: 200px;
    }


    #page-hotel .room {
        width: 98%;
        height: 338px;
        margin: 1% 2% 1% 0;
    }

    #page-hotel .room .name {
        margin: 10px 18px 5px 0;
        height: 38px;
        overflow: hidden;
    }

    #conference-rooms .room .name {
        margin: 0;
    }

    #rooms .room .price {
        margin: 7px 18px 0 0;
    }

    #page-hotel #booking {
        width: 100%;
        margin: 0;
    }

    #page-hotel #breadcrumbs, #page-hotel #main, #page-hotel #conference-rooms {
        padding: 0 4%;
    }

    #description {
        width: 100%;
        padding: 10px 0;
        font-size: 1.2rem;
    }

    #page-hotel #booking, #page-hotel #description {
        border: none;
        border-radius: 0;
        background: #fff;
    }

    #services h1 {
        margin: 30px 0 0;
    }

    #services-icons {
        margin: 120px 0 -100px;
    }

    #services-icons li {
        height: 130px;
        width: 25%;
    }

    #services-icons li:before {
        top: -80px;
    }

    #services-hotels .city-hotel {
        width: 100%;
        margin: 3% 0;
        height: 275px;
    }

    #services-hotels .city-hotel .wrapper {
        padding: 6%;
    }

    #services-hotels .city-hotel:first-child {
        height: 280px;
    }

    #services-hotels .city-hotel:first-child .wrapper {
        padding: 12% 6%;
    }

    #services-hotels .city-hotel .city {
        font-size: 3rem;
        left: 6%;
        top: 50%;
        margin: -1.5rem 0 0;
    }

    #services-hotels .city-hotel .descr {
        bottom: 12%;
        left: 6%;
    }

    #services-hotels .city-hotel:first-child .descr {
        bottom: 18%;
    }

    #services-hotels #all-rooms {
        height: 70px;
    }

    #services-hotels .city-hotel .name {
        font-size: 2rem;
        margin: 0 0 0px 0;
    }

    #services-hotels .button-see-all {
        margin: 10px 2.5%;
    }

    #page-contacts #contacts,
    #feedback {
        width: 100%;
        margin: 0;
    }

    #page-contacts .line2 {
        margin: 30px 0;
    }

    #page-hotel #main {
        margin: 0;
    }

    .search-results {
        margin: 0 0 30px 0 !important;
    }

    #carousel-hotel {
        margin: 0 0 65px;
        background: #fff;
        z-index: 10;
    }

    #carousel-hotel .name {
        font-weight: 300;
        font-size: 2.1rem;
    }

    #carousel-hotel .stars {
        top: 55%;
    }

    #carousel-hotel .address {
        top: 77%;
    }

    #carousel-hotel .address a {
        color: #fff;
    }

    #carousel-hotel .wrapper > .gallery {
        height: 41px;
        bottom: -53px;
        width: 90%;
        margin: 0 5%;
        overflow: hidden;
    }

    #carousel-hotel ul {
        overflow: visible;
    }

    #carousel-hotel .gallery > span {
        width: 55px;
        margin: 3px;
    }

    #carousel-hotel .rn-carousel-control {
        margin: -55px 0 0 0;
    }

    .gallery .img-thumbnail {
        width: 55px;
        height: 41px;
    }

    #distances-wrapper {
        border: 1px solid #bababa;
        border-radius: 5px;
    }

    #distances-title {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 15px 0 55px 0;
        text-align: center;
        text-transform: uppercase;
    }

    #button-map {
        text-align: center;
        margin: 10px 0;
    }

    #page-hotel .room {
        width: 98%;
        height: 165px;
        margin: 1% 2% 1% 0;
    }

    #page-hotel .room .buttons {
        bottom: 0;
    }

    #page-hotel .room .button-booking  {
        height: 30px;
    }

    #conference-rooms .room button {
        margin: 0;
    }

    #page-hotel .room .button-more {
        width: 2.8rem;
        height: 2.8rem;
        border: 0.4rem solid #90c8f8;
        border-radius: 50%;
        margin: 0;
        min-width: 2.8rem;
        min-height: 2.8rem;
        padding: 0;
    }

    #rooms-header {
        padding: 0 0 10px 0;
        width: 100%;
    }

    #page-hotel #rooms-container h2 {
        font-size: 1.8rem;
    }

    #page-hotel .room .button-more .material-icons {
        color: #90c8f8;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2.2rem;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 175px;
        height: 165px;
    }

    #page-hotel .room .term {
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    #page-hotel .room .features {
        margin: 7px 18px 5px 0;
        height: 1rem;
    }

    #conference-rooms .room .features {
        margin: 7px 0px 5px 0;
    }

    #page-hotel .room .features .material-icons {
        font-size: 1.3rem;
        margin: 0 0 0 10px;
    }

    #footer {
        height: 245px;
    }

    #footer .callback {
        opacity: 1;
    }

    #footer-contacts {
        text-align: center;
    }

    #footer .phone {
        font-size: 2.25rem;
    }

    #footer-bottom {
        opacity: 1;
        padding: 10px 6.25%;
        height: 65px;
    }

    #footer #copyright {
        text-align: center;
        width: 90%;
    }

    #copyright .name {
        float: left;
    }

    #footer .social-m {
        margin: 10px 0;
        float: none;
    }

    .social-m .icon {
        display: inline-block;
        float: none;
    }

    #to-top {
        position: absolute;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border-color: #fff;
        background: #fff;
        left: 50%;
        top: -20px;
        margin: 0 0 0 -24.5px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    }

    #to-top .material-icons {
        font-size: 45px;
        color: #101010;
    }

    #reserve-modal {
        width: 90%;
    }

}
/* /width 599px */

@media (max-width: 480px) {

    .row .category {
        height: 285px;
    }

    #carousel-hotel .wrapper > div {
        width: 80%;
        margin: 0 10%;
    }

    #carousel-hotel .gallery > span {
        width: 40px;
        height: 40px;
    }


    #carousel-hotel .gallery > span img {
        width: 40px;
        height: 30px;
    }

    .offer {
        min-height: 340px;
        height: 340px;
    }

    #services-hotels .city-hotel {
        height: 220px;
    }

    #page-hotel .room > div {
        font-size: 1.325rem;
    }

    #page-hotel .room .price {
        font-size: 1.6rem;
    }
}

@media (max-width: 414px) {

    .row .category {
        height: 250px;
        width: 100% !important;
    }

    .offer {
        min-height: 211px;
        height: 211px;
    }

    .offer .title {
        font-size: 1.2rem;
    }

    .offer .text, .offer-item .text {
        font-size: 1rem;
    }

    #services-hotels .city-hotel {
        height: 190px;
    }

    #carousel {
        height: 352px;
    }
    #carousel-hotel .gallery > span img {
        width: 35px;
        height: 30px;
    }

    #conference-rooms .room .prices {
        max-width: 190px;
    }

    #conference-rooms .room .price {
        font-size: 1.2rem;
    }

    #conference-rooms .room .term {
        font-size: 0.75rem;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 140px;
    }

    #page-hotel .room {
        width: 100%;
        margin: 1% 0;
    }

    #page-hotel .room .name {
        height: 33px;
    }
}

@media (max-width: 375px) {

    #carousel-hotel .gallery {
        height: 38px;
    }

    #carousel-hotel .gallery > span {
        height: 38px;
        margin: 2px;
    }

    .gallery .img-thumbnail {
        width: 50px;
        height: 38px;
    }

    #rooms .room .price {
        margin: 5px 18px 0 0;
        line-height: 1.8rem;
    }

    #page-hotel .room .features {
        margin: 5px 18px 5px 0;
    }

    #conference-rooms .room .features {
        margin: 5px 0px 5px 0;
    }

    #page-hotel #rooms-container h2 {
        font-size: 1.7rem;
    }

    #page-hotel .room .buttons {
        bottom: 4px;
    }

    #page-hotel .room .button-more {
        width: 2.3rem;
        height: 2.3rem;
        border: 0.3rem solid #90c8f8;
        min-width: 2.3rem;
        min-height: 2.3rem;
    }

    #page-hotel .room .button-more .material-icons {
        font-size: 1.7rem;
        left: -1px;
        position: relative;
        top: -2px;
    }

    #page-hotel #conference-rooms .room .price {
        font-size: 1rem;
    }

    .category .title {
        font-size: 2.1rem;
        line-height: 4rem;
    }

    .category .category-icon {
        width: 45px;
        height: 45px;
        margin: 0 5px 0 0;
    }

    #carousel-hotel .gallery > span img {
        width: 32px;
        height: 24px;
    }

    #page-hotel #rooms-container {
        padding: 0 5%;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 155px;
        height: 146px;
    }

    #page-hotel .room {
        height: 146px;
    }

    #page-hotel .room > div {
        font-size: 1.2rem;
    }

    #page-hotel .room .name {
        margin: 7px 18px 5px 0;
        height: 33px;
        line-height: 1.4rem;
    }

    #conference-rooms .room .name {
        margin: 0;
    }

    #conference-rooms .wrapper {
        padding: 0 10px 2px 0;
        position: absolute;
        right: 0;
        top: 5px;
    }

    #conference-rooms.room .name {
        margin: 10px 0px 10px 0;
    }

    #conference-rooms .room .term {
        font-size: 0.75rem;
        margin: 0 0 2px 0;
    }

    #conf-room-prices div {
        margin: 0 5px;
    }

    #page-hotel #conference-rooms .room .button-booking {
        height: 30px;
        position: absolute;
        bottom: 6px;
        right: 6px;
    }
}

@media (max-width: 320px) {


    .offer .title {
        font-size: 1rem;
    }

    .offer .text, .offer-item .text {
        font-size: 0.9rem;
    }

    #page-hotel #rooms-container {
        padding: 0 7px;
    }

    #carousel-hotel {
        margin: 0 0 40px;
    }

    #carousel-hotel .gallery {
        height: 27px;
        bottom: -30px;
    }

    #carousel-hotel .gallery > span {
        width: 27px;
    }

    #carousel-hotel .stars {
        top: 45%;
    }

    #carousel-hotel .gallery > span img {
        width: 27px;
        height: 20px;
    }

    #carousel-hotel .gallery > span {
        height: 20px;
    }

    .slick-dots {
        top: -9%;
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    .gallery .img-thumbnail {
        width: 44px;
        height: 33px;
    }

    .category .category-icon {
        width: 55px;
        height: 55px;
    }

    .category .title {
        font-size: 1.7rem;
    }

    .offer-item .wrapper > span {
        height: 27%;
    }

    .offer-item .wrapper > span,
    .offer .wrapper > div {
        padding: 15px 5%;
    }
    .city-hotel,
    #city-hotels #hotel1,
    #city-hotels #hotel0{
        height: 255px;
    }
    #city-hotels .hotel-descr .hotel-text,
    #city-hotels .hotel-descr .btn-flat{
        display: none;
    }
    #city-hotels .hotel-descr .waves-effect.waves-light.blue.btn {
        display: block;
    }

    /*#city-hotels #hotel0 {
        height: 300px;
    }*/

    #page-hotel .room {
        height: 126px;
        margin: 2% 0;
    }

    #rooms .room .image,
    .main-rooms-slider {
        width: 134px;
        height: 126px;
    }

    #page-hotel .room .name {
        margin: 5px 8px 0px 0;
    }

    #rooms .room .price {
        margin: 0 8px 0 0;
        font-size: 1.2rem;
        line-height: 1.4rem;
    }

    #page-hotel .room .term {
        font-weight: 500;
        font-size: 0.75rem;
        margin: 0 8px 2px 0;
    }

    #page-hotel #conference-rooms .room .price {
        font-size: 0.9rem;
        margin: 0 8px 0 0;
    }

    #page-hotel .room .buttons {
        bottom: 0;
    }

    #page-hotel .room .button-booking  {
        margin: 3px 8px 6px 0;
    }

    #conference-rooms > div {
        padding: 0;
    }

    #conference-rooms .wrapper {
        padding: 0px 5px 2px 0;
        width: 50%;
    }

    #page-hotel .room .features {
        margin: 3px 8px 3px 0;
        height: 1rem;
    }

    #conference-rooms .room .image {
        width: 134px;
    }

    #conference-rooms .room,
    #conference-rooms .room .image {
        height: 126px;
    }

    #page-hotel .room .term {
        line-height: 1rem;
    }

    #page-hotel #conference-rooms .room .button-booking {
        height: 20px;
        bottom: 4px;
        right: 11px;
        line-height: 18px;
    }
}

/* /media queries */

.ie9 svg {
    width: 100%;
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    svg {
        width: 100%;
    }
}

table, tr, td {
    border: 1px solid #000;
}


/* Styles room pages */

.room-wrap {
    max-width: 1620px;
    margin: 0 auto;
    padding-left: 40px;
}

.room-head {
    font-size: 30px;
    text-align: left;
}

.room-info {
    display: flex;
    justify-content: space-between;
}

.room-image {
    width: 680px;
    height: 515px;
    margin-right: 30px;
}

.room-image #carousel-hotel-small .gallery {
    bottom: -20%;
}

.room-desc {
    flex-grow: 1;
}

.room-cost {
    margin-bottom: 35px;
}

.room-cost h5 {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 35px;
    color: #1a1a1a;
}

.room-cost-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.room-cost-desc  p {
    margin: 0 35px 0 0;
    font-size: 30px;
    color: #2496f1;
}
.room-cost-desc .material-icons {
    color: #46a54d;
}

.room-desc-content {
    display: flex;
    flex-wrap: wrap;
}

.room-desc-content span {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #1a1a1a;
}

.room-desc-list:first-of-type {
    margin-right: 35px;
}

.room-desc-list li {
    font-size: 20px;
}

.room-desc-list li:before {
    content: '■';
    display: inline-block;
    width: 1em;
    color: #2496f1;
}

@media (max-width: 1000px) {
    .room-info {
        flex-wrap: wrap;
    }

    .room-image {
        width: 90vw;
        height: auto;
        margin-bottom: 150px;
    }
}

/* Styles SANATORIUM page */

.carousel-sanatorium-images {
    max-height: 530px;
}

.sanatorium-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 50px;
}

@media (max-width: 1200px) {
    .sanatorium-info {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.slider-sanatorium {
    max-width: 640px;
}

@media (max-width: 1200px) {
    .slider-sanatorium {
        max-width: 100%;
    }
}

.slider-sanatorium-image {
    height: 430px;
}

.slider-sanatorium-small {
    width: 100%;
}

.slider-sanatorium-small .slick-slide {
    margin: 5px 10px;
    cursor: pointer;
}

.slider-sanatorium-small .slick-dots {
    display: none !important;
}

.slider-sanatorium-image img {
    width: 100%;
    height: 100%;
}

.slider-sanatorium-small.slick-slider {
    margin-bottom: 0;
}

.slider-sanatorium-small img {
    display: inline-block;
    vertical-align: middle;
    width: 112px;
}

.sanatorium-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 150px;
    font-size: 18px;
}

.sanatorium-desc p:nth-child(3) {
    line-height: 30px;
}

.sanatorium-desc .button-booking {
    align-self: flex-start;
}

@media (max-width: 1200px) {
    .sanatorium-desc {
        margin-bottom: 35px;
    }
}

@media (max-width: 700px) {
    .sanatorium-desc {
        margin-left: 55px;
    }
}

@media (max-width: 550px) {
    .sanatorium-desc {
        margin-left: 0;
    }
}